network:
  version: 2
  ethernets:
    {{ netplan_interface }}:
      addresses:
      - "{{ target_ip }}/{{ netplan_prefix }}"
      routes:
      - to: "default"
        via: "{{ netplan_gateway }}"
      nameservers:
        addresses:
        - {{ netplan_dns }}
